extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	// ------------------------------------
	// ----------WELCOME-SLIDER-------------
	// -------------------------------------
	section.home_welcome_slider
		.owl-carousel.owl-theme#welcome_slider
			.welcome_slider_item
				.main_title
					h1.mb-5
						|Chúng tôi là 
						br.responsive_break
						|FullStack Vietnam
					p.text.text--normal.text--white.text--light.mb-4
						|Reference site about Lorem Ipsum, giving 
						br.responsive_break
						|information on its origin, as well as a 
						br.responsive_break
						|random Lipsum generator.
					a.btn.btn--white.btn--uppercase.btn--bold(href="javascript:void(0)") Xem chi tiết
				.welcome_slider_img_1
			.welcome_slider_item
				.main_title
					h1.mb-5
						|Chúng tôi là 
						br.responsive_break
						|FullStack Vietnam
					p.text.text--normal.text--white.text--light.mb-4
						|Reference site about Lorem Ipsum, giving 
						br.responsive_break
						|information on its origin, as well as a 
						br.responsive_break
						|random Lipsum generator.
					a.btn.btn--white.btn--uppercase.btn--bold(href="javascript:void(0)") Xem chi tiết
				.welcome_slider_img_2

	// -------------------------------------
	// ----------BANNER-SECTION-------------
	// -------------------------------------
	section.home_banner
		.container
			.row
				.col
					.owl-carousel.owl-theme#banner_slider
						.banner_slider_item
							.banner_slider_item_content
								h2.section-title.section-title--white.section-title--bold.section-title--uppercase usa's hottest jeans
								a.btn.btn--yellow.btn--uppercase.btn--bold shopping now
							figure
								img(src="./img/home_banner_bg.png", alt="")
						.banner_slider_item
							.banner_slider_item_content
								h2.section-title.section-title--white.section-title--bold.section-title--uppercase usa's hottest jeans
								a.btn.btn--yellow.btn--uppercase.btn--bold shopping now
							figure
								img(src="./img/home_banner_bg.png", alt="")
						.banner_slider_item
							.banner_slider_item_content
								h2.section-title.section-title--white.section-title--bold.section-title--uppercase usa's hottest jeans
								a.btn.btn--yellow.btn--uppercase.btn--bold shopping now
							figure
								img(src="./img/home_banner_bg.png", alt="")

	// -------------------------------------
	// ----------SERVICES-SECTION-----------
	// -------------------------------------
	section.home_services
		.container
			.row
				.col
					.section--title-wrapper
						h2.section-title.section-title--white.section-title--bold.section-title--uppercase fullstack vietnam
			.row.justify-content-center
				.col-auto.col-sm-6.col-md-3.home_services_item.mt-5
					a(href="javascript:void(0)")
						figure
							.home_services_img_wrapper
								img.img-fluid(src="./img/home_services_img_1.png", alt="")
							figcaption
								h3.block-title.block-title--small.block-title--uppercase.block-title--white.block-title--bold.mt-3 trung tâm đào tạo it chuyên nghiệp
								p.text.text--small.text--gray.text--bold.mt-1.mb-5.mb-sm-4.mb-md-0 $69.96
				.col-auto.col-sm-6.col-md-3.home_services_item.mt-sm-5
					a(href="javascript:void(0)")
						figure
							.home_services_img_wrapper
								img.img-fluid(src="./img/home_services_img_2.png", alt="")
							figcaption
								h3.block-title.block-title--small.block-title--uppercase.block-title--white.block-title--bold.mt-3 trung tâm đào tạo it chuyên nghiệp
								p.text.text--small.text--gray.text--bold.mt-1.mb-5.mb-sm-4.mb-md-0 $69.96
				.col-auto.col-sm-6.col-md-3.home_services_item.mt-md-5
					a(href="javascript:void(0)")
						figure
							.home_services_img_wrapper
								img.img-fluid(src="./img/home_services_img_3.png", alt="")
							figcaption
								h3.block-title.block-title--small.block-title--uppercase.block-title--white.block-title--bold.mt-3 trung tâm đào tạo it chuyên nghiệp
								p.text.text--small.text--gray.text--bold.mt-1.mb-5.mb-sm-4.mb-md-0 $69.96
				.col-auto.col-sm-6.col-md-3.home_services_item.mt-md-5
					a(href="javascript:void(0)")
						figure
							.home_services_img_wrapper
								img.img-fluid(src="./img/home_services_img_4.png", alt="")
							figcaption
								h3.block-title.block-title--small.block-title--uppercase.block-title--white.block-title--bold.mt-3 trung tâm đào tạo it chuyên nghiệp
								p.text.text--small.text--gray.text--bold.mt-1.mb-5.mb-sm-4.mb-md-0 $69.96
	
	// -------------------------------------
	// -------------HAPPY-SECTION-----------
	// -------------------------------------
	section.home_happy